<div class="col s12 m12 l12 center">
  <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
    <div class="col s12 m10 l10">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    </div>
  <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>
<div class="col s12 m10 l10 condesc" style="font-size:14px;">
  <div class="center">
    <h5>Find By Contest Id</h5>
    <hr>
    <div class="col s3 m3 l3">&nbsp;</div>
    <div class="col s6 m6 l6">
      <%= form_tag(conentries_path, :method => "get", id: "search-form") do %>
        <div class="col s6 m6 l6">
          <%= text_field_tag :search, params[:search], placeholder: "Enter Contest ID" %>
        </div>
        <div class="col s6 m6 l6 left-align">
          <%= submit_tag "Search", :class=>"btn" %>
        </div>
      <% end %>
    </div>
    <div class="col s3 m3 l3">&nbsp;</div>
  </div>
  <div class="col s12 m12 l12 center" style="margin-top:5%;">
    <% if @contests.present? %>
      <%#= render "results/winnerlist" %>
  <div class="condesc">
  <table class="table-responsive bordered highlight">
    <thead>
      <tr>
        <th>Contest Id</th>
        <th width="15%">Image/Video</th>
        <th>Participant Info</th>
        <th>Votes</th>
        <th>Status</th>
        <th>Rejected reason</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="krtext">
      <% @conentries.each do |entry| %>
        <tr>
          <td>
            <%#= entry.contest.title %>
            <%= image_tag(entry.contest.image.url(:thumb),:class=>'responsive-img') %>
          </td>
          <td>
            <%if entry.image %>
              <%= image_tag(entry.image.url(:thumb), :class=>"relatedimg responsive-image") %>
            <%else%>
              <p>No Image</p>
            <%end%>
            <%#if entry.uploaded_video %>
              <%#= image_tag(entry.uploaded_video, :class=>"relatedimg responsive-image") %>
            <%#else%>
              <!--p>No Image</p-->
            <%#end%>
            <div class="conimage">
              <p><%= entry.caption %></p>
            </div>
          </td>        
          <td>
            <%= entry.mobile %><br>
            <%= entry.email %>
          </td>
          <td>
            <% if entry.entryvotes == "" || entry.entryvotes.blank? %>
              <%if entry.votes %>
                <%= entry.votes.count %>
              <%else%>
                <p>No Votes yet</p>
              <%end%>
            <%else%>
              <%= entry.entryvotes.to_i + entry.votes.count %>
            <% end -%>
            <%#if entry.shares %>
              <%#= entry.shares.to_s %>
            <%#else%>
              <!--p>No Shares yet</p-->
            <%#end%>
          </td>
          <td><%= entry.status %></td>
          <td>
            <% if entry.rejected_reason!="Select Reason" %>
              <%= entry.rejected_reason %>
            <%end%>
          </td>
          <td>
            <%= link_to 'Show', entry %><br>
            <% if current_user.admin? %>
            <%= link_to 'Edit', edit_entry_path(entry) %><br>
            <%#= link_to 'Select As Winner', "/" %>
            <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%#= link_to 'Add Entry', new_entry_path,:class=>"center btn waves-effect waves-light"  %>
</div>
    <% else %>
      <p class="center red-text">
        Please enter valid contest id to find top entries.<%#= params[:search] %>.
      </p>
    <% end %>
  </div>
</div>
<div class="col s12 m10 l10 pagination" style="text-align:right">
   <%= will_paginate @conentries, renderer: BootstrapPagination::Rails %>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>