<div class="col s12 m12 l12">
  <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
    <div class="col s12 m10 l10">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    </div>
  <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
  <div class="center">
    <h5>Entries</h5><%= link_to "Admin Panel","/admin" %>
  </div>
  <div class="condesc">
  <table class="table-responsive bordered highlight">
    <thead>
      <tr>
        <th width="15%">Contest</th>
        <th width="15%">Image</th>
        <th>Participant Info</th>
        <th>Votes</th>
        <th>Status</th>
        <th>Rejected reason</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="krtext">
      <% @entries.each do |entry| %>
        <tr>
          <td>
            <%#= entry.contest.title %>
            <%= link_to(image_tag(entry.contest.image,:class=>'relatedimg responsive-img'),"/contests/#{entry.contest.id}") %>
          </td>
          <td>
            <%if entry.image %>
              <%= image_tag(entry.image, :class=>"relatedimg responsive-image") %>
            <%else%>
              <p>No Image</p>
            <%end%>
            <%#if entry.uploaded_video %>
              <%#= image_tag(entry.uploaded_video, :class=>"relatedimg responsive-image") %>
            <%#else%>
              <!--p>No Image</p-->
            <%#end%>
            <div class="conimage">
              <p><%= entry.caption %></p>
            </div>
          </td>        
          <td>
            <%= entry.mobile %><br>
            <%= entry.email %>
          </td>
          <td>
            Actual Votes : <span style="color:green;"><%= entry.votes.count %></span><br>
            Overridden To: <span style="color:green;"><%= entry.entryvotes %></span><br>
            Total Votes  : <span style="color:green;"><b><%= entry.entryvotes.to_i + entry.votes.count %></b></span>

            <%#if entry.entryvotes %>
              <%#= entry.entryvotes %>
            <%#else%>
              <%#if entry.votes %>
                <%#= entry.votes.count %>
              <%#else%>
                <!--p>No Votes yet</p-->
              <%#end%>
            <%#end%>
            <%#if entry.shares %>
              <%#= entry.shares.to_s %>
            <%#else%>
              <!--p>No Shares yet</p-->
            <%#end%>
          </td>
          <td><%= entry.status %></td>
          <td>
            <% if entry.status == 'Rejected'%>
              <%= entry.rejected_reason %>
            <%end%>
          </td>
          <td>
            <%= link_to 'Show', entry %><br>
            <%= link_to 'Overide Votes', edit_entry_path(entry) %><br>
            <%#= link_to 'Select As Winner', "/" %>
            <%#= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%#= link_to 'Add Entry', new_entry_path,:class=>"center btn waves-effect waves-light"  %>
</div>
</div>
<div class="col s12 m10 l10 pagination" style="text-align:right">
   <%= will_paginate @entry, renderer: BootstrapPagination::Rails %>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>