<!--head>
<meta property="og:title" content="<%= @entry.caption %>" />
<meta property="og:url" content="http://localhost:4001<%= entry_path(@entry)%>" />
<meta property="og:image" content="http://localhost:4001<%= @entry.image.url%>" />
<meta property="og:description" content="<%= @entry.caption %>" />
<meta property="og:site_name" content="http://www.krazykontest.com" />
</head-->
<script type="text/javascript">
  $("#vote").click(function(){
        $("#vote").hide();
        $("#voted").show();
      }); 
</script>
<div class="col s12 m12 l12 center">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <!--p id="success"><%#= success %></p-->
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8" style="">  
  <div class="col s12 m12 l12">
    <div class="center">
      <%= image_tag(@entry.image,:class=>'responsive-img center',:"max-width"=>'100%') %>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%">
      Caption : <b><%= @entry.caption %></b>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%;text-align:right">
      <%if @entry.entryvotes %>
        <%= pluralize(@entry.entryvotes,"vote") %>
      <%else%>
        <%= pluralize(@entry.votes.count, "vote") %> |  
      <%end%>      
      <%= link_to(image_tag("icons/Vote.png",:class=>"responsive-img",:width=>'15%'),upvote_entry_path(@entry),method: :post,:id=>"vote") %>
    </div>
    <div class="col s12 m6 l6">
      Participant Name : <b><%= @entry.user.name %></b>
    </div>
    <div class="col s12 m6 l6" style="text-align:right">
      <%= social_share_button_tag("Share on Facebook", :url=>"http://104.199.79.148/entries/#{@entry.id}", :image=>@entry.image, desc: @entry.caption) %>
      <!--Shares : <%# if @entry.shares %> <%=@entry.shares %><%#else%>No Shares<%#end%>-->
    </div>
  </div>
  <div class="col s12 m12 l12 center" style="margin-top:2%">
    <h5><span class='heading'>Related Entries</span></h5>
  </div>
  <div class="col s12 m12 l12" style="margin-top:2%">
    <% @relentry.each do |relentry| %>
    <% if relentry.id != @entry.id %>
      <div class="col s6 m3 l3">
        <div class="card">
          <div class="card-image">
            <%= link_to(image_tag(relentry.image, :class=>'responsive-img',:style=>"padding:2px"),"/entries/#{relentry.id}") %>
          </div>
          <div class="center">
            <p><%= relentry.caption %></p>
          </div>
        </div> 
      </div>
    <% end %>
    <%end%>
  </div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>