<script type="text/javascript">
  $("#vote").click(function(){
        $("#vote").hide();
        $("#voted").show();
      }); 
</script>
<div class="col s12 m12 l12 center">
  <p id="notice"><%= notice %></p>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8" style="">  
  <div class="col s12 m12 l12">
    <div style="">
      <%= image_tag(@entry.image,:class=>'responsive-img center',:"max-width"=>'100%') %>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%">
      Caption : <b><%= @entry.caption %></b>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%;text-align:right">
      <%= pluralize(@entry.votes.count, "vote") %> |
      <%= link_to(image_tag("icons/Vote.png",:class=>"responsive-img",:width=>'15%'),upvote_entry_path(@entry),method: :post,:id=>"vote") %>
      <%#= link_to(image_tag("icons/Voted.png",:class=>"responsive-img",:width=>'15%'),upvote_entry_path(@entry),method: :post,:id=>"voted") %>
      <!--Votes : <%= @entry.votes %>-->
    </div>
    <div class="col s12 m6 l6">
      Participant Name : <b><%= @entry.caption %></b>
    </div>
    <div class="col s12 m6 l6" style="text-align:right">
      Shares : <% if @entry.shares %> <%=@entry.shares %><%else%>No Shares<%end%>
    </div>
  </div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m12 l12">
  <div class="center" style="margin-bottom:2%;">
    <h5><span class='heading'>Related</span></h5>
  </div>
  <div class="col m3 l3">
    <%= image_tag(@entry.uploaded_image, :class=>"relatedimg") %>
  </div>
  <div class="col m3 l3">
    <%= image_tag(@entry.uploaded_image, :class=>"relatedimg") %>
  </div>
  <div class="col m3 l3">
    <%= image_tag(@entry.uploaded_image, :class=>"relatedimg") %>
  </div>
  <div class="col m3 l3">
    <%= image_tag(@entry.uploaded_image, :class=>"relatedimg") %>
  </div>
</div>