<% title @entry.caption %>
<% meta_description @entry.caption.truncate(150, separator: ' ') %>
<% content_for :head do %>
   <meta name='url' content='http://www.krazykontest.com/entries/<%= @entry.id %>' />
   <meta property="fb:app_id" content="679404752227654" />
    <meta name="google-site-verification" content="E7-XuYKm1EfX_zWIR1Bs-m0xCGHsqi9cMQhcuhrcILA" />
    <meta property="og:title" content="<%= @entry.caption %>" />
    <meta property="og:url" content="http://www.krazykontest.com/entries/<%= @entry.id%>" />
    <meta property="og:description" content="<%= @entry.caption %>" />
    <meta property="og:image" content='<%= @entry.image %>' />
<%end%>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=679404752227654";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  $("#vote").click(function(){
        $("#vote").hide();
        $("#voted").show();
      }); 
</script>
<div class="col s12 m12 l12 center">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <!--p id="success"><%#= success %></p-->
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8" style="">  
  <div class="col s12 m12 l12">
    <div class="center">
      <%= image_tag(@entry.image,:class=>'responsive-img center',:"max-width"=>'100%') %>
    </div>
    <div class="col s12 m9 l9" style="margin-top:2%">
      Caption : <b><%= @entry.caption %></b>
    </div>
    <div class="col s12 m3 l3" style="margin-top:2%;text-align:right">
      <%if @entry.entryvotes %>
        <%= pluralize(@entry.entryvotes.to_i + @entry.votes.count,"vote") %>
      <%else%>
        <%= pluralize(@entry.votes.count, "vote") %> |  
      <%end%>      
      <% if @entry.contest.status == "Active" || @entry.contest.status == "active" %>
        <%= link_to(image_tag("icons/Vote.png",:class=>"responsive-img",:width=>'25%'),upvote_entry_path(@entry),method: :post,:id=>"vote") %>
      <%else%>
        <span style="color:red;">Contest Closed</span>
      <%end%>
    </div>
    <div class="col s12 m l9">
      Participant Name : <b><%= @entry.user.name %></b>
    </div>
    <div class="col s12 m3 l3" style="text-align:right">
      <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" >Share</a></div>
    </div>
  </div>
  <div class="col s12 m12 l12 center" style="margin-top:2%">
    <h5><span class='heading'>Related Entries</span></h5>
  </div>
  <div class="col s12 m12 l12" style="margin-top:2%">
    <% @relentry.each do |relentry| %>
    <% if relentry.id != @entry.id %>
      <div class="col s6 m3 l3">
        <div class="card">
          <div class="card-image">
            <%= link_to(image_tag(relentry.image, :class=>'responsive-img',:style=>"padding:2px"),"/entries/#{relentry.id}") %>
          </div>
          <div class="center">
            <p><%= relentry.caption %></p>
          </div>
        </div> 
      </div>
    <% end %>
    <%end%>
  </div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
