<% title @entry.caption %>
<% meta_description @entry.caption.truncate(150, separator: ' ') %>
<% content_for :head do %>
  <meta property="og:image"  content="http://www.krazykontest.com<%= @entry.image.url%>" />
  <meta property="og:url" content="http://www.krazykontest.com/entries/<%= @entry.id %>" />
<%end%>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=679404752227654";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  $("#vote").click(function(){
        $("#vote").hide();
        $("#voted").show();
      }); 
</script>
<div class="col s12 m12 l12 center">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <!--p id="success"><%#= success %></p-->
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8" style="">  
  <div class="col s12 m12 l12">
    <div class="center">
      <%= image_tag(@entry.image,:class=>'responsive-img center',:"max-width"=>'100%') %>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%">
      Caption : <b><%= @entry.caption %></b>
    </div>
    <div class="col s12 m6 l6" style="margin-top:2%;text-align:right">
      <%if @entry.entryvotes %>
        <%= pluralize(@entry.entryvotes,"vote") %>
      <%else%>
        <%= pluralize(@entry.votes.count, "vote") %> |  
      <%end%>      
      <%= link_to(image_tag("icons/Vote.png",:class=>"responsive-img",:width=>'15%'),upvote_entry_path(@entry),method: :post,:id=>"vote") %>
    </div>
    <div class="col s12 m6 l6">
      Participant Name : <b><%= @entry.user.name %></b>
    </div>
    <div class="col s12 m6 l6" style="text-align:right">
      <%#= social_share_button_tag("Share on Facebook", :url=>"http://www.krazykontest.com/entries/#{@entry.id}",:image=>"http://localhost:4001/#{image_tag(@entry.image)}", desc: @entry.caption) %>
      <!--div class="fb-share-button" data-href="http://www.krazykontest.com/entries/67" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.krazykontest.com%2Fentries%2F67&amp;src=sdkpreparse">Share</a></div-->
      <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" >Share</a></div>
      <!--Shares : <%# if @entry.shares %> <%=@entry.shares %><%#else%>No Shares<%#end%>-->
    </div>
  </div>
  <div class="col s12 m12 l12 center" style="margin-top:2%">
    <h5><span class='heading'>Related Entries</span></h5>
  </div>
  <div class="col s12 m12 l12" style="margin-top:2%">
    <% @relentry.each do |relentry| %>
    <% if relentry.id != @entry.id %>
      <div class="col s6 m3 l3">
        <div class="card">
          <div class="card-image">
            <%= link_to(image_tag(relentry.image, :class=>'responsive-img',:style=>"padding:2px"),"/entries/#{relentry.id}") %>
          </div>
          <div class="center">
            <p><%= relentry.caption %></p>
          </div>
        </div> 
      </div>
    <% end %>
    <%end%>
  </div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>