<script type="text/javascript">
  function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
<!--script src="/assets/js/libs/jquery.js"></script>
<script src="flipclock.min.js"></script>
<script src="/assets/javascripts/countdown.js"></script-->
<div class="col s12 m12 l12 center">
  <p id="notice"><%= notice %></p>
</div>
<% if @contest.end_date <= Time.zone.now %>
<div class="col s12 m12 l12 center">
  <div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
  <div class="col s12 m8 l8 center ended" style="">  
    This Contest has Ended. Click <a href="/">here</a> for ongoing contests.
  </div>
  <div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
</div>
<%end%>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8" style="">  
  <div class="col s12 m12 l12">
    <div style="" class="center">
        <%= image_tag(@contest.image,:class=>'responsive-img') %>
    </div>
    <div class="condesc">
      <p class="center">
        <span><h4 class="orange-text text-darken-1"><%= @contest.title %></h4></span>
      </p>
      <p><%= @contest.description.html_safe %></p>
      <hr>
      <p><b>Steps to Participate</b></p>
      <p><%= @contest.steps.html_safe %></p>  
      <hr>
      <p><b>Prizes</b>
      <p>
        1st - 
          <% if @contest.first_prize? %>
            <b><span class="orange-text"><%= @contest.first_prize %></span></b>
          <% else %>
            Will be announced. 
          <% end %>        
      </p>
      <p>
        2nd -           
            <% if @contest.second_prize? %>
              <span class="orange-text"><b><%= @contest.second_prize %></b></span>
            <% else %>
              Will be announced. 
            <% end %>
      </p>
      <p>
        3rd - 
          <% if @contest.third_prize? %>
            <span class="orange-text"><b><%= @contest.third_prize %></b></span>
          <% else %>
            Will be announced. 
          <% end %>
      </p>
      <hr>
      <% if @contest.end_date <= Time.zone.now %>
        
      <%else%>
        <p class="">
          Contest closes in <br><div id="timer"></div>
        </p>
      <%end%>
    </div>
    <% if @contest.end_date >= Time.zone.now %>
    <div class="partform condesc">
      <% if error %>
        <div class="center error_message">
          <%= error %>
        </div>
      <% end %>
      <div class="center">
        <h5>Participate Now</h5>
      </div>
      <%= form_for([@contest, @contest.entries.build], html: {class: "custom-form"}) do |f| %>
        <div class="form-horizontal">
          <div class="form-group">
            <%= f.label :image,"Upload Your Best Click",:class=>"control-label col m3 l3" %>
            <%= f.file_field :image,:class=>"col m6 l6" %>
            <span class="col m3 l3">&nbsp;</span>
          </div>
          <!--div class="form-group">
            <%#= f.label :uploaded_video,:class=>"control-label col m3 l3" %>
            <%#= f.text_field :uploaded_video,:class=>"form-control col m6 l6" %>
            <span class="col m3 l3">&nbsp;</span>
          </div-->
          <div class="form-group">
            <%= f.label :caption,:class=>"control-label col m3 l3" %>
            <%= f.text_field :caption,:class=>"form-control col m6 l6" %>
            <span class="col m3 l3">&nbsp;</span>
          </div>
          <div class="form-group">
            <%= f.label :mobile,:class=>"control-label col m3 l3" %>
            <%= f.number_field :mobile,:class=>"form-control col m6 l6",:onkeypress=>"return onlyNos(event,this);",:maxlength=>"10" %>
            <span class="col m3 l3">&nbsp;</span>
          </div>
          <div class="form-group">
            <%= f.label :email,:class=>"control-label col m3 l3" %>
            <%= f.email_field :email,:class=>"form-control col m6 l6" %>
            <span class="col m3 l3">&nbsp;</span>
          </div>
          <div class="actions center">
            <%= f.submit 'Enter', :class=>"btn waves-effect waves-light"%>
          </div>
          <div class="center" style="margin-top:2%;">
            *By clicking enter you agree to our terms and conditions<br>We don't share your data. Read our privacy statement <a href='#'>here</a>
          </div>
        </div>
      <% end %>
    </div>
    <%end%>
  </div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<%#= link_to 'Edit', edit_contest_path(@contest) %> 
<%#= link_to 'Back', contests_path %>
<script type="text/javascript">
  $(function(){
    FlipClock.Lang.Custom = { days:'Days', hours:'Hours', minutes:'Minutes', seconds:'Seconds' };
    var opts = {
        clockFace: 'DailyCounter',
        countdown: true,
        language: 'Custom'
    };
    var endDate = new Date("<%= @contest.end_date.to_time %>"); //What date to start counting from
    var now = Math.floor(Date.now()/1000); //Current timestamp in seconds
    var clockStart = endDate.getTime()/1000 - now; //What to set the clock at when page loads
    var clock = $('#timer').FlipClock(clockStart,{clockFace: 'DailyCounter', countdown: true});
  });
</script>