<%= form_for(@problem, html: {class: "custom-form"}) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-horizontal">
  <div class="form-group">
    <%= f.label :name, :class=>"control-label col m3 l3" %>
    <%= f.text_field :name,:class=>"form-control col m6 l6"  %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class=>"control-label col m3 l3" %>
    <%= f.text_field :email,:class=>"form-control col m6 l6" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile, :class=>"control-label col m3 l3" %>
    <%= f.text_field :mobile,:class=>"form-control col m6 l6" %>
  </div>
  <div class="form-group">
    <%= f.label :report_type, :class=>"control-label col m3 l3" %>
    <div class="col m6 l6">
      <%= f.select :report_type,['Bug Report','Contest Related Issue'],:class=>"form-control"  %>
    </div>
    <span class="col m3 l3">&nbsp;</span>    
  </div>
  <div class="form-group">
    <%= f.label :issue_description, :class=>"control-label col m3 l3" %>
    <%= f.text_area :issue_description,:class=>"form-control col m6 l6",:size =>"20x10" %>
    <span class="col m3 l3">&nbsp;</span>
  </div>
  <div class="actions center">
    <%= f.submit "Submit",:class=>"btn waves-effect waves-light"  %>
  </div>
</div>
<% end %>
