<div class="col s12 m12 l12 center">
  <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
    <div class="col s12 m10 l10">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    </div>
    <div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="center col s12 m8 l8 condesc">
	<div style="margin-bottom:2%;">
		<h5>Admin Panel</h5>
	</div>
	<table class="responsive-table">
		<tr>
			<td class="center">
				<%= link_to "Add Contest", new_contest_path, :class=>"btn btn-small waves"%>
			</td>
			<td class="center">
				<%= link_to "Contest List", "/contestlist", :class=>"btn btn-small waves"%>
			</td>
			<td class="center">
				<%= link_to "User List", "/userlist", :class=>"btn btn-small waves"%>
			</td>
			<td class="center">
				<%= link_to "Entry List", "/entrylist", :class=>"btn btn-small waves"%>
			</td>
		</tr>
		<tr>
			<td class="center">
				<%= link_to "Overide Votes", results_path, :class=>"btn btn-small waves"%>
			</td>
			<td class="center">
				<%= link_to "Contacts", problems_path, :class=>"btn btn-small waves"%>
			</td>
			<td class="center">
				<%= link_to "ConEntries", conentries_path, :class=>"btn btn-small waves"%>
			</td>			
			<td class="center">
				<%= link_to "Sponsorships", sponsorships_path, :class=>"btn btn-small waves"%>
			</td>
		</tr>
	</table>	
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>