<!DOCTYPE html>
<html>
<head>
  <title>Welcome - KrazyKontest.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">
<!--link rel="stylesheet" href="/assets/flipclock.css"-->
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="E7-XuYKm1EfX_zWIR1Bs-m0xCGHsqi9cMQhcuhrcILA" />
</head>
<body>
<div id="main-container" class="container-flex">
	<div class="row">
		<%= render "layouts/header" %>
	</div>
	<div class="row page-wrap">
		<%= yield %>
	</div>
	<div class="row site-footer">
		<%= render "layouts/footer" %>
	</div>
</div>
</body>
</html>
